@import url("https://fonts.googleapis.com/css?family=Allura|Montserrat|Kaushan+Script|Berkshire+Swash|Kavoon");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.home {
  height: 100%;
  padding-top: 60vh;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: -webkit-gradient(linear, left top, right top, from(rgba(39, 39, 39, 0.9)), to(rgba(39, 39, 39, 0.3))), url("../img/John.jpg");
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("../img/John.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .home {
    background-position: 50% 50%;
  }
}

.home__intro-heading {
  font-size: 30px;
  font-weight: 700;
  font-family: Montserrat, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  margin-bottom: 25px;
}

.home__intro-heading blockquote::before {
  content: open-quote;
  color: #ccc;
  font-family: 'Berkshire Swash';
  font-size: 1.5em;
}

.home__intro-heading blockquote::after {
  content: close-quote;
  color: #ccc;
  font-family: 'Berkshire Swash';
  font-size: 1.5em;
}

.home__intro-heading #every {
  font-family: 'Allura' !important;
}

.home__intro-heading #love {
  color: #e60606;
}

.home .scripture {
  color: #068a83;
  font-family: 'Kaushan Script';
  font-size: 1.2rem;
  font-weight: bolder;
}

.welcome-about {
  width: 93vw;
  margin: 2rem auto 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 2rem;
}

.welcome-about__content {
  background: #414141;
  padding: 0.5rem;
  border-bottom: 5px solid #ff652f;
}

.welcome-about__content h2 {
  margin: 0.5rem 0;
  color: #ff652f;
  padding: 20px;
  text-align: center;
  position: relative;
  overflow: hidden;
  font-weight: bolder;
  background: -webkit-linear-gradient(45deg, #ff652f, #d30796);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.welcome-about__content h2::before {
  content: "";
  position: absolute;
  margin: 12px 0 0 -100px;
  width: 5rem;
  height: 3px;
  background: #ff652f;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.welcome-about__content h2::after {
  content: "";
  position: absolute;
  margin: 12px 0 0 20px;
  width: 5rem;
  height: 3px;
  background: #ff652f;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.welcome-about__content p {
  font-size: 1.2rem;
  line-height: 1.2;
  padding: 10px;
}

footer {
  background: #333;
  color: #fff;
  padding: 4rem 0 10px 0;
  margin-top: 50px;
}

footer .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 1rem;
  text-align: center;
}

footer .container h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  padding: 0 20px;
  background: -webkit-linear-gradient(45deg, #ff652f, #d30796);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer .container .footer-brand {
  text-align: center;
}

footer .container .footer-brand a {
  line-height: 1.9;
  color: #ccc;
}

footer .container .footer-brand a i {
  color: #555;
  margin-right: 0.5rem;
}

footer .container .footer-div h3 {
  font-size: 1.5rem;
  padding: 10px 0;
  background: -webkit-linear-gradient(45deg, #ff652f, #d30796);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
}

footer .container .footer-div h3::before {
  content: "";
  position: absolute;
  margin: 12px 0 0 -100px;
  width: 5rem;
  height: 3px;
  background: #ff652f;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

footer .container .footer-div h3::after {
  content: "";
  position: absolute;
  margin: 12px 0 0 20px;
  width: 5rem;
  height: 3px;
  background: #ff652f;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

footer .container .footer-div ul {
  z-index: 0;
  list-style-type: none;
}

footer .container .footer-div ul li {
  display: block;
  padding: 10px;
  font-size: 1.3rem;
}

footer .container .footer-div ul li a {
  color: #f71c1c;
}

footer .container .footer-div__address ul li {
  color: #b1cac9 !important;
}

footer .container .footer-div__address ul li a {
  color: #1d8eda !important;
}

footer .container .form-area h3 {
  font-size: 1.5rem;
  padding: 10px 0;
  background: -webkit-linear-gradient(45deg, #ff652f, #d30796);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
}

footer .container .form-area h3::before {
  content: "";
  position: absolute;
  margin: 12px 0 0 -100px;
  width: 5rem;
  height: 3px;
  background: #ff652f;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

footer .container .form-area h3::after {
  content: "";
  position: absolute;
  margin: 12px 0 0 20px;
  width: 5rem;
  height: 3px;
  background: #ff652f;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

footer .container .form-area p {
  font-size: 1.3rem;
}

footer .container .form-area .email-form {
  width: 90%;
  display: inline-block;
  background: #555;
  position: relative;
  border-radius: 20px;
  line-height: 0;
  margin-top: 1rem;
}

footer .container .form-area .email-form .form-control {
  display: inline-block;
  border: 0;
  outline: 0;
  font-size: 1rem;
  color: #ddd;
  background-color: transparent;
  font-family: inherit;
  margin: 0;
  padding: 0 3rem 0 1.5rem;
  width: 100%;
  height: 45px;
  border-radius: 20px;
}

footer .container .form-area .email-form .submit {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background-color: #eee;
  font-size: 1rem;
  text-align: center;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  color: #333;
  cursor: pointer;
  border-radius: 0 20px 20px 0;
}

footer .copy-right p {
  font-size: 1.1rem;
  padding: 50px 10px 0 10px;
  text-align: center;
  color: #ccc;
}

footer .copy-right p span {
  background: -webkit-linear-gradient(45deg, #ff652f, #d30796);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu-wrapper .brand {
  font-size: 1.2rem;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-wrapper .brand img {
  width: 50px;
  height: 50px;
}

@media screen and (min-width: 768px) {
  .menu-wrapper .brand img {
    width: 5rem;
    height: 5rem;
  }
}

.menu-wrapper .brand a {
  font-family: 'Kavoon';
  background: -webkit-linear-gradient(45deg, #f8f8e4, #09f529);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  padding-left: 5px;
}

.menu-wrapper .menu-btn {
  position: absolute;
  z-index: 1;
  right: 1rem;
  top: 1rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-wrapper .menu-btn__burger {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  background: #fff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-wrapper .menu-btn__burger::before {
  content: "";
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background: #fff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-wrapper .menu-btn__burger::after {
  content: "";
  position: absolute;
  top: 8px;
  width: 20px;
  height: 3px;
  background: #fff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-wrapper .menu-btn__burger.open {
  -webkit-transform: rotate(720deg);
          transform: rotate(720deg);
  background: transparent;
}

.menu-wrapper .menu-btn__burger.open::before {
  -webkit-transform: rotate(45deg) translate(5px, 8px);
          transform: rotate(45deg) translate(5px, 8px);
}

.menu-wrapper .menu-btn__burger.open::after {
  width: 28px;
  -webkit-transform: rotate(-45deg) translate(3px, -7px);
          transform: rotate(-45deg) translate(3px, -7px);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: 0.98;
  visibility: hidden;
}

@media screen and (min-width: 768px) {
  .nav {
    top: 2.5rem;
  }
}

.nav.open {
  visibility: visible;
}

.nav .menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  overflow: hidden;
  background-color: #272727;
  list-style-type: none;
  padding-right: 1rem;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav.open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.nav .menu-nav__item {
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav__item.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav .menu-nav__item.active > a {
  color: #ff652f;
  border-bottom: 3px solid #ff652f;
}

.nav .menu-nav__link {
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 1rem 0;
  font-weight: 300;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav__link:hover {
  color: #ff652f;
}

@media screen and (min-width: 768px) {
  header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  header .menu-wrapper .brand {
    font-size: 1.3rem;
  }
  header .menu-wrapper .menu-btn {
    visibility: hidden;
  }
  header .nav {
    visibility: visible;
  }
  header .nav .menu-nav {
    display: block;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    height: 100%;
    background: transparent;
    text-align: right;
  }
  header .nav .menu-nav__item {
    display: inline;
    padding-right: 1.5rem;
  }
  header .nav .menu-nav__link {
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem 0;
  }
  footer {
    padding: 3rem 20px 10px 20px;
    width: 100%;
  }
  footer .container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  footer .container .form-control {
    width: 50%;
    overflow: hidden;
  }
  footer .container .form-area h3::before {
    content: "";
    position: absolute;
    margin: 12px 0 0 -80px;
    width: 3.5rem;
    height: 3px;
    background: #ff652f;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  footer .container .form-area h3::after {
    content: "";
    position: absolute;
    margin: 12px 0 0 20px;
    width: 3.5rem;
    height: 3px;
    background: #ff652f;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
}

.about-main {
  height: 50%;
}

.about-main .about__bio-image {
  height: 50vh;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(39, 39, 39, 0.9)), to(rgba(39, 39, 39, 0.3))), url("../img/logo.png") center top;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("../img/logo.png") center top;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: column;
      -ms-flex: column;
          flex: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.about-main .about__bio-image .about__bio {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-top: 80px;
}

.about-main .about__bio-image .about__bio .text-secondary {
  padding-bottom: 1rem;
  background: -webkit-linear-gradient(45deg, #ff652f, #d30796);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-main .about__bio-image .about__bio .text-secondary::before {
  content: "";
  position: absolute;
  margin: 12px 0 0 -100px;
  width: 5rem;
  height: 3px;
  background: #ff652f;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.about-main .about__bio-image .about__bio .text-secondary::after {
  content: "";
  position: absolute;
  margin: 12px 0 0 20px;
  width: 5rem;
  height: 3px;
  background: #ff652f;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@media screen and (min-width: 1024px) {
  .about-main .about__bio-image .about__bio .text-secondary {
    font-size: 2.2rem;
    font-weight: bolder;
  }
}

.about-main .about__bio-image .about__bio p {
  font-size: 1.3rem;
}

.about-main .about__bio-image .about__bio p::before {
  content: open-quote;
  color: #ccc;
  font-family: 'Berkshire Swash';
  font-size: 1.5em;
}

.about-main .about__bio-image .about__bio p::after {
  content: close-quote;
  color: #ccc;
  font-family: 'Berkshire Swash';
  font-size: 1.5em;
}

@media screen and (min-width: 1024px) {
  .about-main .about__bio-image .about__bio p {
    font-size: 1.8rem;
  }
}

.navigate {
  width: 80%;
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigate .btn {
  margin: 5px;
  padding: 7px 20px;
  border-radius: 10px;
  background: transparent;
  color: #fff;
  font-size: 1.2rem;
  outline: none;
  -webkit-box-shadow: 3px 5px 0 #ccc;
          box-shadow: 3px 5px 0 #ccc;
}

.navigate .btn:active {
  -webkit-box-shadow: 1px 3px 0 #ccc;
          box-shadow: 1px 3px 0 #ccc;
}

.navigate .btn.active {
  background: crimson;
}

.navigate .btn-church {
  border: 1px solid crimson;
}

.navigate .btn-staff {
  border: 1px solid blueviolet;
}

aside .biography-about {
  width: 93vw;
  margin: 2rem auto 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 2rem;
}

@media screen and (min-width: 768px) {
  aside .biography-about {
    width: 65vw;
  }
}

@media screen and (min-width: 1024px) {
  aside .biography-about {
    width: 80vw;
  }
}

aside .biography-about__mission, aside .biography-about__vision {
  background: #414141;
  padding: 0.5rem;
  border-bottom: 5px solid #ff652f;
}

aside .biography-about__mission h2, aside .biography-about__vision h2 {
  margin: 0.5rem 0;
  color: #ff652f;
  padding: 20px;
  text-align: center;
  position: relative;
  overflow: hidden;
  font-weight: bolder;
  background: -webkit-linear-gradient(45deg, #ff652f, #d30796);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

aside .biography-about__mission h2::before, aside .biography-about__vision h2::before {
  content: "";
  position: absolute;
  margin: 12px 0 0 -100px;
  width: 5rem;
  height: 3px;
  background: #ff652f;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

aside .biography-about__mission h2::after, aside .biography-about__vision h2::after {
  content: "";
  position: absolute;
  margin: 12px 0 0 20px;
  width: 5rem;
  height: 3px;
  background: #ff652f;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

aside .biography-about__mission p, aside .biography-about__vision p {
  font-size: 1.2rem;
  line-height: 1.2;
  padding: 10px;
}

aside .biography-about__mission h3, aside .biography-about__vision h3 {
  font-size: 1.3rem;
  font-weight: bolder;
  padding: 10px 0;
  background: -webkit-linear-gradient(45deg, #05ce41, #ff652f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

aside .biography-about__mission ul, aside .biography-about__vision ul {
  margin-left: 20px;
  background: #6e6a6a;
  border-left: 5px solid #ff652f;
  padding: 10px;
}

aside .biography-about__mission ul li, aside .biography-about__vision ul li {
  display: block;
  padding: 5px;
  color: #fff;
  font-weight: bolder;
  font-size: 1.2rem;
}

aside .panel {
  display: none;
}

aside .panel.active {
  display: block;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.staff-bio__body, .staff-bio__bodyTwo, .staff-bio__bodyThree {
  width: 95vw;
  margin: 1.5rem auto 0 auto;
  background: #414141;
  padding: 0.5rem;
  border-bottom: 5px solid #ff652f;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@media screen and (min-width: 768px) {
  .staff-bio__body, .staff-bio__bodyTwo, .staff-bio__bodyThree {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    width: 65vw;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
}

@media screen and (min-width: 1024px) {
  .staff-bio__body, .staff-bio__bodyTwo, .staff-bio__bodyThree {
    width: 80vw;
  }
}

@media screen and (min-width: 1600px) {
  .staff-bio__body, .staff-bio__bodyTwo, .staff-bio__bodyThree {
    width: 60vw;
  }
}

.staff-bio__body__image img {
  width: 100%;
  height: 400px;
  margin: 0 auto;
  border-radius: 5px;
}

.staff-bio__body__content {
  padding: 10px 0;
}

.staff-bio__body__content h3 {
  font-size: 1.4rem;
  text-align: center;
  padding: 10px 0;
  font-weight: bolder;
  background: -webkit-linear-gradient(45deg, #ff652f, #d30796);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (min-width: 768px) {
  .staff-bio__body__content h3 {
    margin-top: 30px;
  }
}

.staff-bio__body__content p {
  font-size: 1.2rem;
  text-align: center;
}

.staff-bio__body__content .social__area {
  text-align: center;
  padding: 15px 0 0;
}

.staff-bio__body__content .social__area i {
  font-size: 2rem;
}

.staff-bio__body__content .social__area i:hover {
  color: #ccc;
}

@media screen and (min-width: 768px) {
  .staff-bio__body__content {
    padding: 0 20px;
  }
}

.contact-main {
  height: 50%;
}

.contact-main .contact__bio-image {
  height: 50vh;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(39, 39, 39, 0.9)), to(rgba(39, 39, 39, 0.3))), url("../img/logo.png") center top;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("../img/logo.png") center top;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: column;
      -ms-flex: column;
          flex: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contact-main .contact__bio-image .contact__bio {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-top: 80px;
}

.contact-main .contact__bio-image .contact__bio .text-secondary {
  padding-bottom: 1rem;
  background: -webkit-linear-gradient(45deg, #ff652f, #d30796);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-main .contact__bio-image .contact__bio .text-secondary::before {
  content: "";
  position: absolute;
  margin: 12px 0 0 -100px;
  width: 5rem;
  height: 3px;
  background: #ff652f;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.contact-main .contact__bio-image .contact__bio .text-secondary::after {
  content: "";
  position: absolute;
  margin: 12px 0 0 20px;
  width: 5rem;
  height: 3px;
  background: #ff652f;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@media screen and (min-width: 1024px) {
  .contact-main .contact__bio-image .contact__bio .text-secondary {
    font-size: 2.2rem;
    font-weight: bolder;
  }
}

.contact-main .contact__bio-image .contact__bio p {
  font-size: 1.3rem;
}

.contact-main .contact__bio-image .contact__bio p::before {
  content: open-quote;
  color: #ccc;
  font-family: 'Berkshire Swash';
  font-size: 1.5em;
}

.contact-main .contact__bio-image .contact__bio p::after {
  content: close-quote;
  color: #ccc;
  font-family: 'Berkshire Swash';
  font-size: 1.5em;
}

@media screen and (min-width: 1024px) {
  .contact-main .contact__bio-image .contact__bio p {
    font-size: 1.8rem;
  }
}

aside .location {
  margin: 50px 0;
}

aside .location-body {
  width: 95vw;
  margin: 1.5rem auto 0 auto;
  background: #414141;
  padding: 0.5rem;
  border-bottom: 5px solid #ff652f;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 20px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@media screen and (min-width: 768px) {
  aside .location-body {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  aside .location-body {
    width: 80vw;
  }
}

aside .location-body__content {
  padding: 10px;
}

aside .location-body__content h3 {
  font-size: 1.5rem;
  text-align: center;
  padding: 20px 0;
  font-weight: bolder;
  background: -webkit-linear-gradient(45deg, #ff652f, #d30796);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

aside .location-body__content ul {
  list-style-type: none;
}

aside .location-body__content ul li {
  display: block;
  font-size: 1.2rem;
  padding: 5px;
}

aside .location-body__content ul li a i {
  color: #0090ff;
}

aside .location-body__content ul li a:hover {
  color: #2099f5;
}

aside .location-body__content ul #personal {
  font-size: 1.5rem;
  font-weight: bolder;
  background: -webkit-linear-gradient(45deg, #cc5709, #059630);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.media-main {
  height: 50%;
}

.media-main .media__bio-image {
  height: 50vh;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(39, 39, 39, 0.9)), to(rgba(39, 39, 39, 0.3))), url("../img/logo.png") center top;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("../img/logo.png") center top;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: column;
      -ms-flex: column;
          flex: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.media-main .media__bio-image .media__bio {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-top: 80px;
}

.media-main .media__bio-image .media__bio .text-secondary {
  padding-bottom: 1rem;
  background: -webkit-linear-gradient(45deg, #ff652f, #d30796);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.media-main .media__bio-image .media__bio .text-secondary::before {
  content: "";
  position: absolute;
  margin: 12px 0 0 -100px;
  width: 5rem;
  height: 3px;
  background: #ff652f;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.media-main .media__bio-image .media__bio .text-secondary::after {
  content: "";
  position: absolute;
  margin: 12px 0 0 20px;
  width: 5rem;
  height: 3px;
  background: #ff652f;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@media screen and (min-width: 1024px) {
  .media-main .media__bio-image .media__bio .text-secondary {
    font-size: 2.2rem;
    font-weight: bolder;
  }
}

.media-main .media__bio-image .media__bio p {
  font-size: 1.3rem;
}

.media-main .media__bio-image .media__bio p::before {
  content: open-quote;
  color: #ccc;
  font-family: 'Berkshire Swash';
  font-size: 1.5em;
}

.media-main .media__bio-image .media__bio p::after {
  content: close-quote;
  color: #ccc;
  font-family: 'Berkshire Swash';
  font-size: 1.5em;
}

@media screen and (min-width: 1024px) {
  .media-main .media__bio-image .media__bio p {
    font-size: 1.8rem;
  }
}

aside .navigate .btn-gallery {
  border: 1px solid crimson;
}

aside .navigate .btn-videos {
  border: 1px solid blueviolet;
}

aside .media-gallery .gallery {
  width: 95vw;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media screen and (min-width: 768px) {
  aside .media-gallery .gallery {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  aside .media-gallery .gallery {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1600px) {
  aside .media-gallery .gallery {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

aside .media-gallery .gallery img {
  width: 100%;
}

.media-videos {
  text-align: center !important;
}

.media-videos-section {
  margin: 0 auto;
  width: 95vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 20px;
}

@media screen and (min-width: 768px) {
  .media-videos-section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
}

.media-videos-section iframe {
  width: 100%;
}

.media-videos .more-videos {
  margin: 50px auto;
  background: crimson;
  color: #fff;
  font-weight: bolder;
  font-size: 1.3rem;
  padding: 20px;
  outline: none;
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 3px #000;
          box-shadow: 5px 5px 3px #000;
}

.media-videos .more-videos:active {
  -webkit-box-shadow: 2px 2px 2px #000;
          box-shadow: 2px 2px 2px #000;
}

.event-main {
  height: 50%;
}

.event-main .event__bio-image {
  height: 50vh;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(39, 39, 39, 0.9)), to(rgba(39, 39, 39, 0.3))), url("../img/logo.png") center top;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("../img/logo.png") center top;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: column;
      -ms-flex: column;
          flex: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.event-main .event__bio-image .event__bio {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-top: 80px;
}

.event-main .event__bio-image .event__bio .text-secondary {
  padding-bottom: 1rem;
  background: -webkit-linear-gradient(45deg, #ff652f, #d30796);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.event-main .event__bio-image .event__bio .text-secondary::before {
  content: "";
  position: absolute;
  margin: 12px 0 0 -100px;
  width: 5rem;
  height: 3px;
  background: #ff652f;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.event-main .event__bio-image .event__bio .text-secondary::after {
  content: "";
  position: absolute;
  margin: 12px 0 0 20px;
  width: 5rem;
  height: 3px;
  background: #ff652f;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@media screen and (min-width: 1024px) {
  .event-main .event__bio-image .event__bio .text-secondary {
    font-size: 2.2rem;
    font-weight: bolder;
  }
}

.event-main .event__bio-image .event__bio p {
  font-size: 1.3rem;
}

.event-main .event__bio-image .event__bio p::before {
  content: open-quote;
  color: #ccc;
  font-family: 'Berkshire Swash';
  font-size: 1.5em;
}

.event-main .event__bio-image .event__bio p::after {
  content: close-quote;
  color: #ccc;
  font-family: 'Berkshire Swash';
  font-size: 1.5em;
}

@media screen and (min-width: 1024px) {
  .event-main .event__bio-image .event__bio p {
    font-size: 1.8rem;
  }
}

.event .event-about {
  width: 95vw;
  background: #3b2929;
  margin: 2rem auto 0 auto;
  border-radius: 10px;
  -webkit-box-shadow: 5px 10px 2px #7a6161;
          box-shadow: 5px 10px 2px #7a6161;
}

@media screen and (min-width: 768px) {
  .event .event-about {
    width: 50vw;
  }
}

.event .event-about__content {
  padding: 20px;
}

.event .event-about__content .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.event .event-about__content .date code {
  color: #a89e9e;
  font-family: 'Berkshire Swash';
}

.event .event-about__content .date #postponed {
  background-color: crimson;
  padding: 5px;
  border-radius: 5px;
  color: #fff !important;
}

.event .event-about__content h2 {
  font-size: 1.5rem;
  padding: 5px 0;
  font-weight: bolder;
  font-family: 'Berkshire Swash';
}

.event .event-about__content p {
  font-size: 1.2rem;
  color: #a89e9e;
}

.ministry-main {
  height: 50%;
}

.ministry-main .ministry__bio-image {
  height: 50vh;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(39, 39, 39, 0.9)), to(rgba(39, 39, 39, 0.3))), url("../img/logo.png") center top;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("../img/logo.png") center top;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: column;
      -ms-flex: column;
          flex: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.ministry-main .ministry__bio-image .ministry__bio {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-top: 80px;
}

.ministry-main .ministry__bio-image .ministry__bio .text-secondary {
  padding-bottom: 1rem;
  background: -webkit-linear-gradient(45deg, #ff652f, #d30796);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ministry-main .ministry__bio-image .ministry__bio .text-secondary::before {
  content: "";
  position: absolute;
  margin: 12px 0 0 -100px;
  width: 5rem;
  height: 3px;
  background: #ff652f;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.ministry-main .ministry__bio-image .ministry__bio .text-secondary::after {
  content: "";
  position: absolute;
  margin: 12px 0 0 20px;
  width: 5rem;
  height: 3px;
  background: #ff652f;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@media screen and (min-width: 1024px) {
  .ministry-main .ministry__bio-image .ministry__bio .text-secondary {
    font-size: 2.2rem;
    font-weight: bolder;
  }
}

.ministry-main .ministry__bio-image .ministry__bio p {
  font-size: 1.3rem;
}

.ministry-main .ministry__bio-image .ministry__bio p::before {
  content: open-quote;
  color: #ccc;
  font-family: 'Berkshire Swash';
  font-size: 1.5em;
}

.ministry-main .ministry__bio-image .ministry__bio p::after {
  content: close-quote;
  color: #ccc;
  font-family: 'Berkshire Swash';
  font-size: 1.5em;
}

@media screen and (min-width: 1024px) {
  .ministry-main .ministry__bio-image .ministry__bio p {
    font-size: 1.8rem;
  }
}

.ministry-about {
  width: 93vw;
  margin: 2rem auto 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 2rem;
}

.ministry-about__content {
  background: #414141;
  padding: 0.5rem;
  border-bottom: 5px solid #ff652f;
}

.ministry-about__content h2 {
  margin: 0.5rem 0;
  color: #ff652f;
  padding: 20px;
  text-align: center;
  position: relative;
  overflow: hidden;
  font-weight: bolder;
  background: -webkit-linear-gradient(45deg, #ff652f, #d30796);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ministry-about__content p {
  font-size: 1.2rem;
  line-height: 1.2;
  padding: 10px;
}

body {
  background: #272727;
  color: #fff;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  font-weight: 400;
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 1rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.on_scroll {
  background: #1d1c1c;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
}

.scroll_back_up {
  width: 35px;
  height: 35px;
  background: #969090;
  bottom: 15px;
  right: 10px;
  z-index: 99;
  border-radius: 2px;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(40%) scale(0.95);
          transform: translateY(40%) scale(0.95);
  opacity: 0;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.scroll_back_up a {
  color: #000;
}

.scroll_back_up.active {
  opacity: 1 !important;
  -webkit-transform: translateY(0%) scale(1) !important;
          transform: translateY(0%) scale(1) !important;
}

@media screen and (min-width: 768px) {
  .scroll_back_up {
    width: 50px;
    height: 50px;
    right: 20px;
  }
}
/*# sourceMappingURL=main.css.map */